.HumidAndPressure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Humid {
  padding: 25px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Pressure {
  padding-bottom: 17.05px;
}
.procent {
  padding-top: 10px;
  width: 110.321px;
  margin: 0px;
  padding-bottom: 10px;
  flex-shrink: 0;
  color: var(--text-color);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.humidityP {
  flex-shrink: 0;
  color: var(--text-color);
  text-align: center;
  margin: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Pressure {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hpa {
  padding-top: 10px;
  color: var(--text-color);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  margin: 0px;
  font-weight: 600;
  line-height: normal;
}
.pressureP {
  padding: 0px;
  margin: 0px;
  color: var(--text-color);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Humidity *,
.Pressure * {
  fill: var(--svg_fill_color);
}
