.HourlyForTitle {
  color: var(--text-color);
  padding: 13px 0px 19px 0px;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.HourlyForecast_Box {
  display: flex;
  justify-content: space-evenly;
}
