.InfoAboutTemp {
  padding-bottom: 5px;
}
.Temp {
  text-align: center;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
  background: var(--rgb-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.FeelsLike {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  text-align: start;
  color: var(--feels_like_color);
  font-family: Poppins;
  font-size: 25px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
