.Main {
  padding-top: 49px;
}

h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  margin-top: 40px;

  line-height: normal;
}
h2 {
  color: #fff;
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
