.sunrise {
  display: flex;
  column-gap: 11px;
  align-items: center;
}
.sunset {
  display: flex;
  column-gap: 11px;
  align-items: center;
}
.InfoAboutSunRise {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-left: 40px;
}
.sunnumbers {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sunnumbers > p {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sunrise,
.sunset {
  fill: var(--svg_fill_color);
}
