.DateAndTimeInfo {
  width: 510px;

  height: 330px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--bacground-color-item);
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
  color: var(--text-color);
  text-align: center;
}
.DateAndTimeInfoBox {
  display: flex;
  column-gap: 50px;
  flex-grow: 1;
}
.TimeBox {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

h4 {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
