@import url("./Reset.css");
@import url("./media.css");
.App {
  background: var(--background-color);
  height: 100vh;
  position: relative;
}
img {
  pointer-events: none;
}
.ErrorBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Error {
  fill: var(--svg_fill_color);
}
